<div >
  <% if users.length >= 1 %>
    <% users.each do |user|%>
      <span data-controller="popover" data-popover-url-value="<%= user_card_path(user) %>">
        <%= link_to meetings_path(user_id: user.id, query: params[:query]), class:"text-decoration-none avatar-search-icon", data: { action: "mouseenter->popover#show mouseleave->popover#hide" } do %>
          <%= image_tag user.photo.key ? cl_image_path(user.photo.key) :  "gorilla.jpg", class: "avatar m-1"%>
        <% end %>
      </span>
    <% end %>
  <% end %>
</div>
