<div class="d-flex" style="margin-top: 20px; margin-left: 64px;">
  <img class="logoimg" src="<%=asset_path('logo.png')%>" style="height: 50px;" alt="" class="animate__animated animate__fadeInRight">
  <p> <%= sanitize result %> </p>
  <input class="form-control hidden" autocomplete="off" type="" name="meeting[objectives]" id="meeting_objectives" value="<%= sanitize result %>">
</div>
