<div class="d-flex" style="margin-top: 20px; margin-left: 64px;">
  <img src="<%=asset_path('logo.png')%>" style="height: 50px;" alt="" class="animate__animated animate__fadeInRight">
  <div>
    <%= sanitize duration %>
    <button type="button" data-action="click->form-steps#nextStep" class="button-general" role="button">Next</button>
  </div>
</div>
