<div class="container">
  <h1>Calendar</h1>
  <%= month_calendar(events: @meetings, attribute: :start_date) do |date, meetings| %>
    <div class="day">
      <%= date %>
    </div>
    <% meetings.each do |meeting| %>
      <%= meeting.title %>
      <%= meeting.start_date.strftime("%I:%M%p") %>
    <% end %>
  <% end %>
</div>
