.chart-container {
  width: 600px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.analytics-container {
  width: 800px;
  align-items: center;
  text-align: center;
  margin: auto;

  h2 {
    padding: 6px;
  }
}

.avatar-search-a {
  // margin-top: 3rem;
  align-items: center;
  display: flex;
  background-color: $headers-color;
  padding: 20px;
  // margin-left: 5px;
  width: 250px;
  border-radius: 1rem;
  border-radius: 20px;

}
