<vwc-top-app-bar-fixed alternate="true">
  <span slot="title" id="title"><%= @meeting.title.capitalize %></span>
  <% if @name == @moderator_name  %>
    <span slot="actionItems" id="mode-name">Chill Mode</span>
    <vwc-switch slot="actionItems"></vwc-switch>
  <% else %>
    <span slot="actionItems"></span>
  <% end %>
</vwc-top-app-bar-fixed>
