<div class="container">
  <div class="progress-bar"  data-controller="progress-bar">
    <div class="progress" id="progress" data-progress-bar-target="progress" data-progress-bar-duration-value="<%= @meeting.duration.to_i%>" ></div>
  </div>
</div>
