<div class="avatar-card" data-popover-target="card">
  <p><strong><%= @user.name %></strong></p>
  <p><i class="fa-solid fa-user"></i> <%= @user.job_title %></p>
  <p><i class="fa-solid fa-phone"></i> <%= @user.mobile %></p>
  <p><i class="fa-solid fa-envelope"></i> <%= @user.email %></p>
</div>
