<div class="navy-bar-top"></div>
<%= video_tag "homevideo.mp4", controls: false, autoplay: :autoplay, loop: :loop, muted: :muted, class:"video" %>
<div class="container-landing">
  <div class="space"></div>
  <div class="d-flex justify-content-center">
    <h1>Wolf</h1>
    <%= image_tag 'logo.png'%>
    <h1>Minute</h1>
  </div>
  <h2>Making your meeting optimize and more efficient</h2>
  <%= link_to "Get Started", meetings_path, class: "homebtn"%>
</div>
<div class="navy-bar-bottom"></div>
