.meeting-card {
  // margin: 2rem;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-color: 1px;
  // height: 90%;
  padding: 2rem;
  // display: flex;
  // flex-direction: column;
  // background-color: white;
  // position: sticky;
  top: 80px;
  // width: fit-content;
  // align-self: auto;
  // display: grid;
  // grid-template-columns: 1fr 1fr;

}
